/*******************  G R I D *******************/
/* .ucrow {
  margin-left: -15px;
  margin-right: -15px;
} */
.ucrow:before,
.ucrow:after {
    display: table;
    content: " ";
}
.ucrow:after {
    clear: both;
}
.uccol-sm-3{
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .uccol-sm-3{ 
        float: left;
        box-sizing: border-box;
    }
    .rtl .uccol-sm-3{ float: right; }
    .uccol-sm-3{
        width: 25%;
    }
}